.container .row-heading .col h1 {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 30px;
  padding-left: 30px;
}

.container .row-heading .col p {
  font-weight: 300;
  letter-spacing: 12px;
  padding-left: 30px;
}

@media (max-width: 770px) {
  .container .row-heading .col h1 {
    letter-spacing: 10px;
  }

  .container .row-heading .col p {
    letter-spacing: 4px;
  }
}

@media (max-width: 360px) {
  .container .row-heading .col h1 {
    letter-spacing: 5px;
  }

  .container .row-heading .col p {
    letter-spacing: none;
  }
}

.container-aboutPage {
  height: 100vh;
}