.carousel {
  margin-top: 61px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-caption h1{
  font-family: 'Merienda', cursive;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  padding-bottom: 150px;
} 

.carousel-inner .carousel-item .c-img {
  filter: brightness(0.8);
  height: 480px;
}