

.navbar {
  font-family: 'poppins', sans-serif;
  border-bottom: 2px solid #DCEE8A;
}

.navbar .navbar-brand{
  font-family: 'Merienda', cursive;
  font-size: 1.8rem;
}

.nav-item {
  font-size: 1.1rem;
  padding: 0 1rem;
} 